:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;

}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  list-style-type: none;
  color: #212121;
  background-color: var(--primary-white-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.hidden {
  visibility: hidden;
}



/* Studio page */

/* header */

.header {
  background-color: var(--primary-white-color);
}

.header-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav-link {
  color: #212121;
  text-decoration: none;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts-link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-style: none;
  cursor: pointer;
}

/* features */

.features-list-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list-descr {
  line-height: 1.71;
  color: var(--primary-text-color);
}

/* services */

.services-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* team */

.team {
  background-color: #f5f4fa;
}

/* .team-list */

.team-list-link {
  text-decoration: none;
}

.team-list-link-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}

.team-list-link-descr {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}

.footer {
  background: #2F303A;
}

/* .footer-contacts */

.footer-contacts-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
  text-decoration: none;
}

.footer-contacts-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}



/* Portfolio page */

/* filter */
.filter-list-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
  background: #F5F4FA;
  border: none;
  cursor: pointer;
}

.filter-list-button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* portfolio */

.list .portfolio-link {
  text-decoration: none;
}

.list .portfolio-link-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.list .portfolio-link-descr {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}